<ion-content>
    <ion-row class="list-menu">
        <ion-grid [routerLink]="['/lyrics']" class="grid-home">
            <ion-card class="welcome-card-home">
                <ion-card-content>
                    <h1>Lirycs</h1>
                    <img class="home-icon" src="./assets/icon/lyrics-icon.svg" alt="lyrics-icon">
                </ion-card-content>
            </ion-card>
        </ion-grid>
        <ion-grid [routerLink]="['/albums']" class="grid-home">
            <ion-card class="welcome-card-home">
                <ion-card-content>
                    <h1>Albums</h1>
                    <img class="home-icon" src="./assets/icon/album-icon.svg" alt="album-icon">
                </ion-card-content>
            </ion-card>
        </ion-grid>
    </ion-row>

    <ion-row>
        <ion-grid [routerLink]="['/members']" class="grid-home">
            <ion-card class="welcome-card-home">
                <ion-card-content>
                    <h1>Members</h1>
                    <img class="home-icon" src="./assets/icon/members-icon.svg" alt="album-icon">
                </ion-card-content>
            </ion-card>
        </ion-grid>
        <ion-grid [routerLink]="['/gallery']" class="grid-home">
            <ion-card class="welcome-card-home">
                <ion-card-content>
                    <h1>Gallery</h1>
                    <img class="home-icon" src="./assets/icon/gallery-icon.svg" alt="album-icon">
                </ion-card-content>
            </ion-card>
        </ion-grid>
    </ion-row>

    <ion-row>
        <ion-grid [routerLink]="['/videos']" class="grid-home-large">
            <ion-card class="welcome-card-home-large">
                <ion-card-content>
                    <h1>Official Videos</h1>
                    <img class="home-icon" src="./assets/icon/videos-icon.png" alt="album-icon">
                </ion-card-content>
            </ion-card>
        </ion-grid>
    </ion-row>


</ion-content>